.banner {
    padding: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.bannerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerStatContainer {
    padding-top: 30px;
}

.bannerStatRow {
    padding: 0px 2vw 30px 2vw;
}

.bannerCareer {
    padding: 0px 2vw 0px 2vw;
}

.bannerCareer p{
    font-style: italic;
    font-size: 20px;
}

.bannerMainStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bannerMainStats h2 {
    font-size: 6vw;
    margin:0;
}

.bannerMainStats p {
    font-size: 3vw;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}

.bannerSubStatsContainer {
    border: 1px solid;
    width: 100%;
    min-height: 150px;
    padding: 0px 20px 0px 20px;
    margin: 0 2vw 0 2vw;
}

.bannerSubStatsContainer p {
    font-size: 1.5vw;
}

.playerBannerName h1{
    font-size: 3vw;
    margin:0;
}

.circleImgContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    border: 1px solid;
    margin: 10px;
}

.circleImgContainer img {
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.playerImg {
    width: 25vw;
    height: 25vw;
}

.graphSelectorMain {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graphSelectorMain button{
    padding: 6px;
    border: 1px solid;
    font-size: 20px;
    height: 40px;
}

.graphSelectorMain button:hover{
    background-color: rgba(0,0,0,0.05);
}

.playerGraphContainer {
    height: 85vh;
    width: 100vw;
    margin: 10px 5vw 10px 5vw;
    background-color: aliceblue;
}

.playerProgressionGraphContainer {
    height: 100%;
}

.playerProgressionLegendContainer {
    height: 50%;
}

.playerProgressionHistogramContainer {
    height: 50%;
}

.graphComponent {
    width: 100%;
    height: 100%;
}

.careerLegendItem {
    padding: 5px 0px 5px 0px;
}
.careerLegendName {
    width: 15%;
}

.careerLegendColor {
    width: 20px;
    height: 20px;
}