.sticky {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

.nav-main {
    height: 8vh;
    min-height: 50px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    height: 100%;
}

.nav-link:hover {
    background-color: rgba(0,0,0, 0.05);
    font-weight: bolder;
}

.nav-text {
    text-align: left;
    position: absolute;
    color:#000;
    text-align: center;
}

.nav-main-text {
    font-size: 20px;
    font-weight: 800;
    left: calc(50%);
    transform: translateX(-50%);
    bottom: -12.5px;
}

.nav-sub-text {
    font-size: 20px;
    font-weight: 600;
    left: calc(50%);
    transform: translateX(-50%);
    bottom: -12.5px;
}